[run]
branch = True
concurrency = multiprocessing
source =
   sapp
omit =
   sapp/tests/*
   sapp/pipeline/tests/*
   sapp/ui/tests/*
   sapp/sapp/ui/frontend/*

[report]
include =
   sapp/*

omit =
   sapp/tests/*
   sapp/pipeline/tests/*
   sapp/ui/tests/*
   sapp/sapp/ui/frontend/*

# Regexes for lines to exclude from consideration
exclude_lines =
   # Don't complain about missing debug-only code:
   if self\.debug

   # Don't complain if tests don't hit defensive assertion code:
   raise AssertionError
   raise NotImplementedError

   # Don't complain about abstract methods, they aren't run:
   @(abc\.)?abstractmethod
