name: lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  ufmt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2

      - name: Install ufmt
        run: pip install ufmt==2.8.0 black==24.4.2 ruff-api==0.1.0

      - name: Add configuration for ufmt
        run: echo -e '[tool.ufmt]\nformatter = "ruff-api"\nsorter = "ruff-api"' > pyproject.toml

      - name: Run ufmt
        run: ufmt diff sapp scripts

  flake8:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2

      - name: Install flake8
        run: pip install flake8==6.1.0

      - name: Run flake8
        run: flake8

  ESLint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install packages and run ESLint
        run: |
          cd sapp/ui/frontend
          npm install
          npm run lint
